.song-of-the-day-authenticated {
  color: var(--text-success);
}

.song-of-the-day-error {
  color: var(--text-error);
  font-size: var(--font-ui-smaller);
}

.song-of-the-day-toggle-container {
  display: grid;
  gap: var(--size-4-2);
  grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
  margin-top: var(--size-4-2);
}

.song-of-the-day-field {
  align-items: center;
  display: flex;
  gap: var(--size-4-2);
}

.song-of-the-day-label {
  cursor: pointer;
}

.song-of-the-day-playlist-input {
  width: 100%;
}

.song-of-the-day-variables-container {
  margin-top: var(--size-4-2);
}

.song-of-the-day-variable-row {
  align-items: baseline;
  display: flex;
  gap: var(--size-4-2);
}

.song-of-the-day-variable-code {
  display: inline-block;
  min-width: 130px;
}
