name: Checks
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  checks:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
      - name: Install dependencies
        run: npm ci
      - name: Markdown check
        run: npm run markdown:check
      - name: Test
        run: npm test
      - name: Build
        run: npm run build
